body {
  /* padding: 50px; */
  background-color: #f5f5f5;
  font: 18px "Nunito", Helvetica, Arial, sans-serif;
  display: flex;
  line-height: 2vh;
}

.bold-text {
    font-weight: bold;
}

.card {
    background-color: #fff;
    border: #d9d9d9 solid 1px;
    padding: 2.5vh 2vw;
    border-radius: 5px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.container {
    margin: 10vh auto 10vh auto;
    width: 80vw;
    display: flex;
    word-wrap: break-word;
}

.left-column {
    margin: 0 1vw 5vh 0vw;
    width: 20vw;
}

.right-column {
    margin: 0vh 0vw 5vh 1vw;
    width: 77vw;
}

.photo-name {
    /* align-items: center; */
    text-align: center;
}

#user-info-card {
    margin-top: 0;
}

.user-profile-img {
    margin: 2.7vh auto 2vh auto;
    border-radius: 50%;
    width: 10vw;
    height: auto;
}

.event-card {
    display: flex;
    height: auto;
}

.event-card-img {
    margin-top: 2vh;
    display: flex;
    width: 10vw;
    height: 18vh;
    /* height: auto; */
    /* aspect-ratio: 1/1; */
}

.title-location-date-time {
    display: flex;
}

.title-location {
    margin: 0 auto 0 2.5vw;
    width: 8vw;
}

.date-time {
    margin: 0 auto 0 auto;
    width: 8vw;
}

.description {
    margin: .5vh auto 0 2.4vw;
    /* margin: 5vh 5vw 0 5vw; */
    width: 48vw;
}

.white-button {
    border-radius: 10px;
    border: 2px solid #FF914D;
    font: 18px "Nunito", Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 20vw;
    height: 5vh;
    color: #FF914D;
    background-color: #fff;
    margin-left: 22.5vw;
    margin-right: 20vw;
    margin-bottom: 8vh;
}